.login-container {
    margin-top: 64px;
}

.login-paper {
    overflow: hidden;
}

.login-tabpanel {
    padding: 24px;
}

.login-form {
    margin-top: 16px;
}

.login-button {
    margin-top: 24px;
    margin-bottom: 16px;
}

.login-error {
    margin-bottom: 16px;
}

.login-success {
    margin-bottom: 16px;
}

.login-loading-spinner {
    margin-right: 8px;
}